@model RPPP_WebApp.ViewModels.ZahtjevViewModel
@{
    ViewBag.Title = "Novi zahtjev";
}

<h2>Unos novog zahtjeva</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="IdZahtjev" class="form-label"></label>
        <input asp-for="IdZahtjev" class="form-control" />
        <div class="form-text"><span asp-validation-for="IdZahtjev" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="Opis" class="form-label"></label>
        <input asp-for="Opis" class="form-control" />
        <div class="form-text"><span asp-validation-for="Opis" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="Prioritet" class="form-label"></label>
        <input asp-for="Prioritet" class="form-control" />
        <div class="form-text"><span asp-validation-for="Prioritet" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="Vrsta" class="form-label"></label>
        <input asp-for="Vrsta" class="form-control" />
        <div class="form-text"><span asp-validation-for="Vrsta" class="text-danger"></span></div>
    </div>
    <div class="mb-3">
        <label asp-for="IdProjekt" class="form-label"></label>
        <select asp-for="IdProjekt" class="form-control" asp-items="@(new SelectList(ViewBag.Projekti, "Value", "Text"))"></select>
        <div class="form-text"><span asp-validation-for="IdProjekt" class="text-danger"></span></div>
    </div>

    <div class="text-center">
        <button class="btn btn-primary" type="submit">Dodaj</button>
        <a asp-action="Index" class="btn btn-secondary">Odustani</a>
    </div>
</form>